@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-image: url(../img/happy-beautiful-brunette-girl-dancing-and-listening-music-in-wireless-headphones-holding-smartphone.jpg);
    background-size: 100%;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #e4e4e4 !important;
}

header#cabecalho{
    width: auto;
    height: auto;
}

header#cabecalho img#logo{
    height: 45px;
    float: left;
    margin-top: 15px;
    margin-left: 100px;
}

ul#menu{
    float:right;
    color: #1ed760;
    margin-top: 20px;
    margin-right: 100px;
}

ul li{
    display: inline-block;
    padding: 10px;
}

ul#menu a.link{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #1ed760;
}

ul#menu a.link:hover{
    color: white;
    cursor: pointer;
}

section#corpo{
    color: #1BC07D;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#corpo h2{
    color: #1ed760;
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 7rem;
}

section#corpo h4{
    color:#1ed760;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 10px;
}